@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(233, 47%, 7%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-height: 50%;
  background: hsl(244, 38%, 16%);
  border-radius: 10px;
  margin: 5rem auto;
}

.mob-img-div {
  width: 100%;
  min-height: 15rem;
  background: url("../img/image-header-mobile.jpg") center;
  background-color: hsl(277, 70%, 66%);
  background-blend-mode: multiply;
  background-position: relative;
  background-size: cover;
  margin-bottom: 1rem;
  border-radius: 10px 10px 0 0;
}

.text {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  padding: 1.6rem;
}

h1 {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
#header-highlight {
  color: hsl(277, 64%, 61%);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 2.5rem;
  letter-spacing: 0.4px;
}

.stats {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.stat-box {
  padding: 1rem;
}

.stats h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.stats span {
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.9px;
}

.desktop-image {
  display: none;
}

@media screen and (min-width: 895px) {
  .container {
    flex-direction: row;
    width: 55rem;
    min-height: 30%;
  }
  .text {
    text-align: left;
    padding-left: 4rem;
  }
  h1 {
    margin: 1rem 6rem 1.5rem 0;
    letter-spacing: 1px;
  }
  p {
    width: 80%;
    align-self: flex-start;
    letter-spacing: 0px;
  }
  .stats {
    display: flex;
    align-self: flex-start;
  }
  .stat-box {
    padding-left: 0;
    margin-right: 2.5rem;
  }
  .mob-img-div {
    display: none;
  }
  .desktop-image {
    display: block;
    width: 100%;
    min-height: 15rem;
    background: url("../img/image-header-desktop.jpg") center;
    background-color: hsl(277, 70%, 66%);
    background-blend-mode: multiply;
    background-position: relative;
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    width: 68rem;
    min-height: 45%;
  }

  h1 {
    margin-top: 2.5rem;
  }
}
